@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #333366;
  --secondary: #097fa5;
  --background-secondary: #c8dde3;
  --button: #097fa5;
  --button-text: #fff;
  --text-secondary: #3c3c3c;
  --dropdown: #e0f4ff;
  --dropdown-hover: #b3e5ff;
  --button-secondary: #e7e7e7;
  --selected: #9ec6ff;
  --logo-shadow: #053949;
  --logo-body: #00d8fe;
  --span-bg: linear-gradient(to right, #4e4e9e, #097fa5, #3e87ed);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --background-secondary: var(--background-secondary);
  --button-secondary: var(--button-secondary);
  --button-text: var(--button-text);
  --text-secondary: var(--text-secondary);
  --button: var(--button);
  --selected: var(--selected);
  --dropdown: var(--dropdown);
  --dropdown-hover: var(--dropdown-hover);
  --font-sans: var(--font-space-grotesk);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-span-bg: var(--span-bg);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.instagram {
  --primary: #cc3f7e;
  --secondary: #fcb045;
  --background: #ffffff;
  --background-secondary: #f1f1f1;
  --button: #cc3f7e;
  --button-text: #ffffff;
  --text-secondary: #333333;
  --dropdown: #ffffff;
  --dropdown-hover: #f1f1f1;
  --button-secondary: #ffffff;
  --selected: #fcb045;
}

.facebook {
  --primary: #3b5998;
  --secondary: #4267b2;
  --background: #f0f2f5;
  --background-secondary: #e9eaef;
  --button: #3b5998;
  --button-text: #ffffff;
  --text-secondary: #333333;
  --dropdown: #f0f2f5;
  --dropdown-hover: #e9eaef;
  --button-secondary: #e9eaef;
  --selected: #aeb3be;
}

.discord {
  --primary: #7289da;
  --secondary: #7289da;
  --background: #36393f;
  --background-secondary: #2f3136;
  --button: #7289da;
  --button-text: #ffffff;
  --text-secondary: #dcddde;
  --dropdown: #36393f;
  --dropdown-hover: #2f3136;
  --button-secondary: #2f3136;
  --selected: #1f2b57;
}

.netflix {
  --primary: #ff0000;
  --secondary: #ffffff;
  --background: #000000;
  --background-secondary: #121212;
  --button: #ff0000;
  --button-text: #ffffff;
  --text-secondary: #b3b3b3;
  --dropdown: #000000;
  --dropdown-hover: #121212;
  --button-secondary: #121212;
  --selected: #400202;
}

.reddit {
  --primary: #ff4500;
  --secondary: #ff6347;
  --background: #ffffff;
  --background-secondary: #f5f5f5;
  --button: #ff4500;
  --button-text: #ffffff;
  --text-secondary: #333333;
  --dropdown: #ffffff;
  --dropdown-hover: #f5f5f5;
  --button-secondary: #f5f5f5;
  --selected: #ff6347;
}

.twilight {
  --primary: #a296e0;
  --secondary: #d84c21;
  --background: #e0e0e8;
  --background-secondary: #cfcfd9;
  --button: #7d9dbf;
  --button-text: #ffffff;
  --text-secondary: #5a5d71;
  --dropdown: #d9d2e9;
  --dropdown-hover: #b1a8c7;
  --button-secondary: #e0e0e8;
  --selected: #b0394b;
}


*:lang(ar) {
  font-family: var(--rubik) !important;
}
*:lang(fa) {
  font-family: var(--rubik) !important;
}
div::selection,
h1::selection,
button::selection,
p::selection,
span::selection,
a::selection,
h2::selection {
  background-color: rgb(121, 255, 225);
  text-shadow: rgb(0, 102, 255) 0px 0px 7px;
  color: rgb(248, 28, 229);
}
body {
  @apply bg-background text-primary;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}